POSTGRES_DB=fxpro_invest
POSTGRES_USER=fxpro
POSTGRES_PASSWORD=fxpro_password
DATABASE_URL=postgres://fxpro:fxpro_password@localhost:5433/fxpro_invest
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
FRONTEND_URL=http://localhost:3000
FRONTEND_URLS=http://localhost:3000,http://127.0.0.1:3000,http://bluepeak-capital.online:3000,https://bluepeak-capital.online
BACKEND_PORT=4000


# idontedit
