POSTGRES_DB=fxpro_invest
POSTGRES_USER=fxpro
POSTGRES_PASSWORD=change_me_database_password
DATABASE_URL=postgres://fxpro:change_me_database_password@postgres:5432/fxpro_invest
JWT_ACCESS_SECRET=change_me_to_a_long_random_secret
JWT_REFRESH_SECRET=change_me_to_another_long_random_secret
FRONTEND_URL=https://bluepeak-capital.online
FRONTEND_URLS=https://bluepeak-capital.online
BACKEND_PORT=4000
